.unselected-season {
  padding: 1rem 0;
  border-bottom: solid 1px;
  i {
    padding: 0px 2rem;
  }
   h5 {
     display: inline-block;
   }
}

.selected-season {
  padding: 1rem 0;
  i {
    padding: 0px 2rem;
  }
   h5 {
     display: inline-block;
   }
  }

.top-bar.topbar-responsive {
  padding-top: 0px;
  padding-bottom: 0px;
  height: 3%;
  background-color: #66d7e6;
  color: black;
  justify-content: flex-start;
}

.dropdown.menu {
  background-color: #66d7e6;
}

.submenu.menu.vertical {
  background-color: #24c4db;
}

.main-menu-item{
  color: black;
  font-family: 'Lobster';
  font-size: 20px;
  font-weight: bold;
}

#title-link {
  padding-right: 5rem;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 16em; 
  color: black;
  font-family: 'Lobster';
}

#sign-up {
  color: black;
  font-family: 'Lobster';
  font-weight: bold;
  font-size: large;
}

#sign-in {
  color: black;
  font-family: 'Lobster';
  font-weight: bold;
  font-size: large;
}

#sign-out {
  color: black;
  font-family: 'Lobster';
  font-weight: bold;
  font-size: large;
}

#sign-up:hover {
  color: white;
}

#sign-in:hover {
  color: white;
}

#sign-out:hover {
  color: white;
}

#logo-t {
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  color: black;
  background: #9d75ea;
  display: inline-block;
  height: 1em;
  line-height: 1em;
  width: 1em;
}

#logo-g {
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  color: black;
  background: #ffec3e;
  display: inline-block;
  height: 1em;
  line-height: 1em;
  width: 1em;
}

#logo-i {
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  color: black;
  background: #df3b3b;
  display: inline-block;
  height: 1em;
  line-height: 1em;
  width: 1em;
}

#logo-f {
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  color: black;
  background: #ff833e;
  display: inline-block;
  height: 1em;
  line-height: 1em;
  width: 1em;
}

label {
  text-align: center;
  padding-top: 20px;
  // font-family: 'Lobster';
}

#year-select {
  display: block;
  width: 13em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#yearSelect {
  padding-top: 5px;
}

.button {
  outline-style: none;

}

@font-face {
  font-family: 'Lobster-Regular';
  src: url('/app/assets/fonts/Lobster-Regular.ttf')
}

h1 a {
  font-family: 'Lobster-Regular';
}

#program-block-1 {
  background-color: #dadada;
  padding-left: 5px;
}

#program-block-2 {
  background-color: #c4c4c4;
  padding-left: 5px;
}

.time-show {
  font-weight: bold;
}

.episode-name {
  padding-bottom: 3px;
}

#week-tile h5 {
  padding-left: 5px;
}

#show-tile h5 {
  padding-left: 5px;
  font-weight: bold;
}

#show-tile {
  display: block;
  // width: 13em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.grid-container {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
}

#card-odd{
background-color: #9d75ea;
}

#card-even{
background-color: #66d7e6;
}

#show-link {
  color: black;
}

.modal-container {
background-color: #24c4db;
}

#show-detail-image {
  margin-bottom: 10px;
  border-radius: 5%;
}

#show-tile-image {
  margin-bottom: 10px;
  border-radius: 5%;
}

#show-info-box {
  padding: 10px
}

#about {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 5%;
  padding-bottom: 5%;
  border: 20px solid #9d75ea;
  border-radius: 25px;
  overflow: clip;
}